{% extends 'base.html.twig' %}

{% block body %}
    <h1>Todos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datetime</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for toDo in toDos %}
            <tr>
                <td><a href="{{ path('no_show', { 'id': toDo.id }) }}">{{ toDo.id }}</a></td>
                <td>{% if toDo.datetime %}{{ toDo.datetime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ toDo.content }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('no_show', { 'id': toDo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('no_edit', { 'id': toDo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('no_new') }}">Create a new toDo</a>
        </li>
    </ul>
{% endblock %}
