<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Chaya3ni{% endblock %}






        </title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/css/datepicker3.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/css/bootstrap-table.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/css/styles.css') }}" rel="stylesheet">                <!--Icons-->
            <script src="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/js/lumino.glyphs.js') }}"></script>



            <script>
                $(function () {
                    $('#hover, #striped, #condensed').click(function () {
                        var classes = 'table';

                        if ($('#hover').prop('checked')) {
                            classes += ' table-hover';
                        }
                        if ($('#condensed').prop('checked')) {
                            classes += ' table-condensed';
                        }
                        $('#table-style').bootstrapTable('destroy')
                            .bootstrapTable({
                                classes: classes,
                                striped: $('#striped').prop('checked')
                            });
                    });
                });

                function rowStyle(row, index) {
                    var classes = ['active', 'success', 'info', 'warning', 'danger'];

                    if (index % 2 === 0 && index / 2 < classes.length) {
                        return {
                            classes: classes[index / 2]
                        };
                    }
                    return {};
                }
            </script>

            <script src="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/js/jquery-1.11.1.min.js') }}"></script>
            <script src="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/js/chart.min.js') }}"></script>
            <script src="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/js/chart-data.js') }}"></script>
            <script src="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/js/easypiechart.js') }}"></script>
            <script src="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/js/easypiechart-data.js') }}"></script>
            <script src="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/js/bootstrap-datepicker.js') }}"></script>
            <script src="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/js/bootstrap-table.js') }}"></script>
            <script>
                !function ($) {
                    $(document).on("click","ul.nav li.parent > a > span.icon", function(){
                        $(this).find('em:first').toggleClass("glyphicon-minus");
                    });
                    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
                }(window.jQuery);

                $(window).on('resize', function () {
                    if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
                })
                $(window).on('resize', function () {
                    if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
                })
            </script>


        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
