<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chaya3ni Admin</title>

    {% block stylesheets %}{% endblock %}


    <script type="text/javascript"  src="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/js/bootstrap-table.js') }}"></script>
    <script src="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/js/jqBootstrapValidation.js') }}"></script>
    <script src="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/js/lumino.glyphs.js') }}"></script>
    <!-- Custom CSS -->
    <link href="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/css/modern-business.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <link href="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/css/datepicker3.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/css/bootstrap-table.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/css/styles.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />   <!--Icons-->



</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>Lumino</span>Admin</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> {{ app.user.username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">

                        <li><a href="{{ path('user_logout') }}"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <ul class="nav menu">
        <li><a href="index.html"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
        <li><a href="widgets.html"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Widgets</a></li>
        <li><a href="charts.html"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Charts</a></li>
        <li><a href="{{ path('complaints_index') }}"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Complaints</a></li>
        <li><a href="forms.html"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Forms</a></li>
        <li><a href="panels.html"><svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg> Alerts &amp; Panels</a></li>
        <li><a href="icons.html"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg> Icons</a></li>
        <li class="parent ">
            <a href="{{ path('complaints_index') }}">
                <span data-toggle="collapse" href="#sub-item-1">
                    <svg class="glyph stroked chevron-down">
                        <use xlink:href="#stroked-chevron-down"></use></svg></span> Complaints
            </a>
            <ul class="children collapse" id="sub-item-1">
                <li>
                    <a class="" href="{{ path('complaints_users_index') }}">
                        <svg class="glyph stroked chevron-right">
                            <use xlink:href="#stroked-chevron-right"></use></svg> Users with complaints
                    </a>
                </li>
                <li>
                    <a class="" href="{{ path('complaints_pending') }}">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Pending complaints
                    </a>
                </li>
                <li>
                    <a class="" href="{{ path('complaints_index') }}">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Unseen complaints
                    </a>
                </li>
                <li>
                    <a class="" href="{{ path('complaints_seen') }}">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Seen complaints
                    </a>
                </li>
                <li>
                    <a class="" href="{{ path('complaints_mail_homepage') }}">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Newsletter
                    </a>
                </li>
                <li>
                    <a class="" href="{{ path('complaints_all_users_admin') }}">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Search user
                    </a>
                </li>
            </ul>
        </li>
        <li class="parent ">
            <a >
                <span data-toggle="collapse" href="#sub-item-2">
                    <svg class="glyph stroked chevron-down">
                        <use xlink:href="#stroked-chevron-down"></use></svg></span> Statistics
            </a>
            <ul class="children collapse" id="sub-item-2">
                <li>
                    <a class="" href="{{ path('complaints_music_pie_chart') }}">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Music
                    </a>
                </li>
                <li>
                    <a class="" href="{{ path('complaints_animal_pie_chart') }}">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Animals
                    </a>
                </li>
                <li>
                    <a class="" href="{{ path('complaints_test_charts') }}">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Complaints
                    </a>
                </li>
            </ul>
        </li>
        <li role="presentation" class="divider"></li>
        <li><a href="login.html"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Login Page</a></li>
    </ul>
</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <div class="col-sm-12">
            {% include ('::flash-messages.html.twig') %}
        </div>
    </div>
    <div class="row">



    {% block body %}
    {% endblock %}
    </div>
<script>
    $(function () {
        $('#hover, #striped, #condensed').click(function () {
            var classes = 'table';

            if ($('#hover').prop('checked')) {
                classes += ' table-hover';
            }
            if ($('#condensed').prop('checked')) {
                classes += ' table-condensed';
            }
            $('#table-style').bootstrapTable('destroy')
                .bootstrapTable({
                    classes: classes,
                    striped: $('#striped').prop('checked')
                });
        });
    });

    function rowStyle(row, index) {
        var classes = ['active', 'success', 'info', 'warning', 'danger'];

        if (index % 2 === 0 && index / 2 < classes.length) {
            return {
                classes: classes[index / 2]
            };
        }
        return {};
    }
</script>
<script>
    !function ($) {
        $(document).on("click","ul.nav li.parent > a > span.icon", function(){
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
    })
    $(window).on('resize', function () {
        if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
    })
</script>

</div>
</body>

</html>
