{% extends 'layoutBack.html.twig' %}

{% block body %}
    <h1>Response</h1>


    <div class="panel panel-default chat">
        <div class="panel-heading" id="accordion"><svg class="glyph stroked two-messages"><use xlink:href="#stroked-two-messages"></use></svg> Chat</div>

        <div class="panel-body">

            <ul>
                <li class="left clearfix">
								<span class="chat-img pull-left">
									<img src="http://placehold.it/80/30a5ff/fff" alt="User Avatar" class="img-circle" />
								</span>
                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font">{{ complaint.iduser.username }}</strong> <small class="text-muted">{{ complaint.datetime|date('Y-m-d H:i:s') }}</small>
                        </div>
                        <p>
                             {{ complaint.content }}
                        </p>
                    </div>
                </li>

                {% for response in pagination %}

                <li class="left clearfix">
								<span class="chat-img pull-right">
									<img src="http://placehold.it/80/dde0e6/5f6468" alt="User Avatar" class="img-circle" />
								</span>
                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="pull-left primary-font">{% if response.type %} admin {% else %} {{ response.idcomplaint.iduser.username }}{% endif %} </strong> <small class="text-muted">
                                {% if response.datetime %}{{ response.datetime|date('Y-m-d H:i:s') }}{% endif %}</small>
                        </div>
                        <p>
                            {{ response.content }}
                        </p>
                    </div>
                </li>

                {% endfor %}
            </ul>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        {{ form_start(form) }}

        <div class="panel-footer">
            <div class="input-group">
                {{ form_widget(form.content, { 'attr': {'class': 'form-control input-md', 'rows': '5', 'placeholder': 'Type in your message here'} }) }}
                <span class="input-group-btn">
				<button type="submit" class="btn btn-success btn-md" value="Create" id="btn-chat">Send</button>
							</span>
            </div>
        </div>
        {{ form_end(form) }}

    </div>


{% endblock %}
