{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div style="position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;">

    <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="box-body">
            <div class="form-group">
                <label for="_username" class="col-sm-2 control-label">{{ 'security.login.username'|trans }}</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control"  placeholder="{{ 'security.login.username'|trans }}"  id="username" name="_username" value="{{ last_username }}" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">{{ 'security.login.password'|trans }}</label>

                <div class="col-sm-10">
                    <input  class="form-control" id="inputPassword3" placeholder="{{ 'security.login.password'|trans }}" type="password"  name="_password" required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-info pull-right"  id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" >Sign in</button>
        </div>
        <!-- /.box-footer -->
    </form>
    </div>
{% endblock fos_user_content %}