{% extends 'layoutBack.html.twig' %}

{% block body %}

<div class="container">
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Complaint</div>
            <div class="panel-body">


                <!-- /.row -->
                <!-- Intro Content -->
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-responsive" src="{% if not complaint.attachment==" " %}{{ asset('uploads/'~complaint.attachment) }}{% else %}{{ asset('uploads/no.png') }}{% endif %}" alt="">
                    </div>
                    <div class="col-md-6">
                        <h4>Complaint from : {{ complaint.iduser.username }} </h4>
                        <h4>Cause : {{ complaint.type }} </h4>
                        <p>{% if complaint.datetime %}{{ complaint.datetime|date('Y-m-d H:i:s') }}{% endif %}</p>
                        <p>{{ complaint.content }}</p>
                        <div class="col-md-4">

                            <div class="media">
                                <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
                        </span>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"> <a href="{{ path('complaints_answer', { 'id': complaint.id }) }}">Answer</a></h4>
                                </div>
                            </div></div>
                        {% if complaint.status!="Rejected" %}
                        <div class="media">
                            <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
                        </span>
                            </div> <div class="media-body">
                                <h4 class="media-heading" >
                                    {{ form_start(delete_form) }}
                                    <input class="btn btn-default btn-md" type="submit" value="Delete">
                                    {{ form_end(delete_form) }}</h4>
                            </div>{% endif %}
                        </div></div>
                </div></div></div>


                </div>




    </div>

</div>
{% endblock %}
